*.sublime-workspace
*.aux
*.fdb_latexmk
*.fls
*.log
phdthesis.pdf
*.synctex.gz
*.toc
*.bbl
*.blg
*.bcf
*.out
*.run.xml
*.synctex.gz(busy)
*.lof
*.lot
vc.tex
README.html
*.auxlock
*.figlist
phdthesis.makefile
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.lol
*.sbl
*.slg
*.slo
*.sls
*.xdy
*.loe
*.snm
*.nav
phdFigures.pdf
phdFigures.makefile
